
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #ff552a;
}
h1 {
    font-size: 100%;
    font-weight: bold;
}

.nav2{
    background-color: #42b3db;
}

.foot1{
    background-color: #42b3db;
}

.color{
    color: #ff552a; 
   
}

.colorB{
   background-color:#ff552a;
   border-radius: 15px;
   border: solid 5px;
   border-color: #42b3db;
   background-position: center;
}



.container {
max-width: 800px;
margin: 50px auto;
padding: 20px;
border-radius: 10px;
box-shadow: #ff552a;
}


.counters {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.counter {
margin: 20px;
padding: 20px;
background: #f9f9f9;
border: 1px solid #ff552a;
border-radius: 10px;
width: 180px;
text-align: center;
}

.counter h2 {
font-size: 2.5em;
color: #ff552a;
margin: 10px 0;
}

.counter p {
font-size: 1em;
color: #ff552a;
}

.count {
font-weight: bold;
color: #42b3db;
}


.carousel {
background-size: cover;
    margin: 0 auto; 
    overflow: hidden; 
    border: 20px solid #42b3db;
    border-radius: 10px;
    background-color: #42b3db;
    color: #ff552a;
    text-align: center;
  }

.cerca{
    background-color: #ff552a;
    border-radius: 10px;
    border-color: #ff552a;
}


